<footer class="footer">
  <div class="container">
    <div class="row between-md">
      <div class="col-xs-12 col-md-3">
        <div class="box">
          <h5 class="text-uppercase">
            <mat-icon color="warn">catching_pokemon</mat-icon>
            Footer pokemon
          </h5>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
            velit odio iste ullam nobis, sequi praesentium aspernatur, labore
            perspiciatis omnis ipsum at repellat voluptatum ratione, temporibus
            fuga! Natus, voluptatem recusandae.
          </p>
        </div>
      </div>

      <div class="col-xs-12 col-md-3">
        <div class="box">
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!">Link 1</a>
            </li>
            <li>
              <a href="#!">Link 2</a>
            </li>
            <li></li>
            <li></li>
          </ul>
        </div>
      </div>

      <div class="col-xs-12 col-md-3">
        <div class="box">
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!">Link 1</a>
            </li>
            <li>
              <a href="#!">Link 2</a>
            </li>
            <li>
              <a href="#!">Link 3</a>
            </li>
            <li>
              <a href="#!">Link 4</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row center-xs">
      <div class="col-xs-12">
        <div class="box">
          <p>Develop with 💗 by Luciana</p>
        </div>
      </div>
    </div>
  </div>
</footer>
